:root {
	scroll-behavior: smooth;
}

@font-face {
	font-family: Inter;
	font-weight: 400;
	src: url('../fonts/inter-v13-cyrillic_latin-regular.woff2') format(woff2);
	font-display: swap;
}
@font-face {
	font-family: Inter;
	font-weight: 600;
	src: url('../fonts/inter-v13-cyrillic_latin-600.woff2') format(woff2);
	font-display: swap;
}
html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
	line-height: 1.5;
  color: #fff;
  background-color: #000201;
}


img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}


button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  max-width: 1432px;
  padding: 0 66px;
  margin: 0 auto;
}

.link-show-trailer {
	border-radius: 52px;
	padding: 14px 20px;	
	background-color: #ff3d00;
	font-family: "Inter", sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;	
	color: #fff;
	border: 1px solid transparent;
	outline: none;
}

.link-show-trailer:hover {
	background-color: #ff521b;
}

.link-show-trailer:focus {
	background-color: #ff521b;
	border-color: #fff;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 24px;
	padding-bottom: 24px;
}

.header__link {
	display: block;
}

.hero {
	background-repeat: no-repeat;
	background-position: top;
	background-size: contain;
	background-image: linear-gradient(180deg, 
																	rgba(0, 0, 0, 0) 50%, 
																	rgba(0, 0, 0, 0.76) 65%, 
																	rgba(0, 0, 0, 1) 100%),
										image-set(
											url("../img/hero@2x.avif") type('image/avif') 2x,
											url("../img/hero.avif") type('image/avif'),
											url("../img/hero@2x.webp") type('image/webp') 2x,
											url("../img/hero.webp") type('image/webp'),
											url("../img/hero@2x.jpg") 2x,
											url("../img/hero.jpg")
										);
	padding-top: calc(476 / 1440 * 100%);
	padding-bottom: 60px;	
}

.hero__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
}

.hero__banner {
	max-width: 795px;
	margin-bottom: 2px;
}

.hero__date {
	font-weight: 600;
	font-size: 40px;
	text-transform: uppercase;
	color: #ff3d00;
	margin-bottom: 16px;
}

.hero__link {
	display: none;
}

.hero__arrow {
	display: inline-block;
	width: 64px;
	height: 64px;
}

.hero__arrow:hover {
	color: #ff3d00;
}

.about {
	padding: 60px 0;
}

.about__container {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.about__content {
	flex-basis: 750px;
}

.about__title {	
	font-weight: 600;
	font-size: 52px;
	margin-bottom: 32px;
}

.about__description {
	font-size: 20px;
}

.about__container::after {
	content: "";
	flex-basis: 530px;
	background-image: -webkit-image-set(
		/* url("../img/img@2x.webp") type('images/webp') 2x, */
		/* url("../img/img.webp") type('images/webp') 1x, */
		url("../img/img@2x.jpg") 2x,
		url("../img/img.jpg") 1x
	);
	background-image: image-set(
		/* url("../img/img@2x.webp") type('images/webp') 2x, */
		/* url("../img/img.webp") type('images/webp') 1x, */
		url("../img/img@2x.jpg") 2x,
		url("../img/img.jpg") 1x
	);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.about__image {
}

.trailers {
	padding: 60px 0 120px;
}
.trailers__buttons {
	display: flex;
	gap: 12px;
	align-items: center;
	margin-bottom: 16px;
}

.trailers__item-button {
}

.trailers__button {
	border-radius: 8px;
	padding: 14px 20px;
	background-color: #272928;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	white-space: nowrap;
}
.trailers__button_active {
	background-color: #ff3d00;
}

.trailers__button:focus,
.trailers__button:hover {
	background-color: #FF521B;
}

.trailers__wrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.trailers__video {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.footer {
	padding: 40px 0;
	background-color: #101010;
	line-height: 1.4;
}

.footer__container {
	display: grid;
	gap: 36px;
	grid-template-areas: 
	'developers logo'
	'copyright logo';
}

.footer__developers {
	grid-area: developers;
}

.footer__developer:not(:last-child) {
	margin-bottom: 7px;
}

.footer__link:hover {
	color: #FF521B;
}

.footer__copyright {
	grid-area: copyright;
}

.footer__logo {
	width: 287px;
	grid-area: logo;
	justify-self: end;
	align-self: end;
}

@media(max-width: 1080px) {
	.hero {
		background-image: linear-gradient(180deg, 
																	rgba(0, 0, 0, 0) 50%, 
																	rgba(0, 0, 0, 0.76) 65%, 
																	rgba(0, 0, 0, 1) 100%),
										image-set(
											url("../img/hero-1024@2x.avif") type('image/avif') 2x,
											url("../img/hero-1024.avif") type('image/avif'),
											url("../img/hero-1024@2x.webp") type('image/webp') 2x,
											url("../img/hero-1024.webp") type('image/webp'),
											url("../img/hero-1024@2x.jpg") 2x,
											url("../img/hero-1024.jpg")
										);
		padding-top: calc(337 / 1024 * 100%);
		padding-bottom: 50px;
	}

	.hero__banner {
		max-width: 100%;
		width: 639px;
	}

	.hero__date {
		font-size: 32px;
	}

	.about {
		padding: 50px 0;
	}

	.about__container::after {
		flex-basis: 50%;
		background-image: image-set(
			url("../img/img@2x.jpg") 2x,
			url("../img/img1024.jpg") 1x
		);
	}

	.about__content {
		flex-basis: 50%;
	}

	.about__title {
		font-size: 40px;
		margin-bottom: 24px;
	}

	.about__description {
		font-size: 16px;
	}

	.trailers {
		padding: 50px 0 100px;
	}
}

@media(max-width: 900px) {
	.container {
		padding: 0 44px;
	}

	.header {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.header__logo {
		width: 130px;
	}

	.hero {
		background-image: linear-gradient(180deg, 
																	rgba(0, 0, 0, 0) 50%, 
																	rgba(0, 0, 0, 0.76) 65%, 
																	rgba(0, 0, 0, 1) 100%),
										image-set(
											url("../img/hero768@2x.avif") type('image/avif') 2x,
											url("../img/hero768.avif") type('image/avif'),
											url("../img/hero768@2x.webp") type('image/webp') 2x,
											url("../img/hero768.webp") type('image/webp'),
											url("../img/hero768@2x.jpg") 2x,
											url("../img/hero768.jpg")
										);
		padding-top: calc(337 / 768 * 100%);
		padding-bottom: 40px;
	}

	.hero__date {
		margin-bottom: 12px;
	}

	.hero__arrow {
		width: 36px;
		height: 36px;
	}

	.about {
		padding: 50px 0;
	}

	.about__container {
		flex-direction: column;
	}

	.about__content {
		flex-basis: auto;
	}

	.about__container::after {
		flex-basis: 300px;		
		background-image: image-set(
			url("../img/img768@2x.jpg") 2x,
			url("../img/img768.jpg") 1x
		);
	}

	.about__title {
		max-width: 370px;
	}

	.trailers {
		padding: 40px 0 80px;
	}

}

@media(max-width: 620px) {
	.container {
		padding: 0 16px;
	}

	.header {
		padding-top: 12px;
		padding-bottom: 12px;
	}

	.header__logo {
		width: 80px;
	}

	.header__link {
		display: none;
	}

	.hero {
		background-image: linear-gradient(180deg, 
																	rgba(0, 0, 0, 0) 50%, 
																	rgba(0, 0, 0, 0.76) 65%, 
																	rgba(0, 0, 0, 1) 100%),
										image-set(
											url("../img/hero320@2x.avif") type('image/avif') 2x,
											url("../img/hero320.avif") type('image/avif'),
											url("../img/hero320@2x.webp") type('image/webp') 2x,
											url("../img/hero320.webp") type('image/webp'),
											url("../img/hero320@2x.jpg") 2x,
											url("../img/hero320.jpg")
										);
		padding-bottom: 30px;
		padding-top: calc(173 / 320 * 100%);
	}

	.hero__date {
		font-size: 20px;
	}

	.hero__link {
		display: block;
		margin-bottom: 32px;
	}

	.about {
		padding: 30px 0;
	}

	.about__container::after {
		flex-basis: 436px;
		background-image: image-set(
			url("../img/img@2x.jpg") 2x,
			url("../img/img320.jpg") 1x
		);
	}

	.about__title {
		font-size: 28px;
		margin-bottom: 16px;
	}	

	.trailers {
		padding: 30px 0 60px;
	}

	.trailers__container {
		padding: 0;
	}

	.trailers__buttons {
		gap: 8px;
		padding: 0 16px;
		overflow-x: scroll;
		scrollbar-width: none;
	}

	.trailers__buttons::-webkit-scrollbar {
		display: none;
	}

	.trailers__button {
		font-size: 12px;
		padding: 10px 16px;
	}

	.trailers__list {
		padding: 0 16px;
	}
	
}